.idea/

code/__pycache__/
*.DS_Store

report/*.dvi
report/*.aux
report/*.gz
report/*.txt
report/*.log
report/*.bbl
venv/

corpus/

report/sigproc-sp.blg

report/sigproc-sp.fdb_latexmk

report/sigproc-sp.fls

report/sigproc-sp.out
